body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    background-color: lightgreen;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: .6em 0;
    width: 6em;
    background-color: purple;
    margin: .5em;
    border-radius: 16px;
}

input {
    width: 18em;
    height: 2.5em;
    border-radius: 8px;
    border: none;
    padding: 0 .8em;
}

input:focus {
    outline: none;
    border: 2px solid darkred;
    box-shadow: 0 0 6px rgba(139, 0, 0, 0.6);
}

button {
    margin: 2em;
    font-size: 1em;
    padding: 1em 2.5em;
    background-color: purple;
    border-radius: 16px;
    color: white;
    border: none;
}

.sacar-btn {
    font-size: 1.2em;
}

h3 {
    font-size: 1.7em;
}